
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  list-style: none;
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-item a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-link:hover {
  background: #FCFCFC;
  opacity: 0.5;
  border-radius: 26px;
}

.navigation-link:focus {
  background: #FCFCFC;
  opacity: 0.5;
  border: 2px solid #2D3440;
  border-radius: 26px;
}

.navigation-link:active {
  background: #FCFCFC;
  opacity: 1;
  border: none;
}

.navigation-user {
  width: 419px;
  margin-left: auto;
}

.navigation-user .navigation-item {
  margin: 0;
}

.navigation-user .navigation-link {
  font-size: 14px;
}

.navigation-item .navigation-link-current {
  background-color: #FF4A78;
}

.navigation-user .contact-phone {
  font-weight: 700;
  background-color: transparent;
}

.navigation-user a{
  background: rgba(252, 252, 252, 0.3);
}

.main-container {
  flex-grow: 1;
  margin: auto;
}

.main-index {
  width: 1170px;
  margin: 0 auto;
}

.main-inner {
  width: 1170px;
}

.first-display h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.first-display p {
  font-size: 18px;
  line-height: 24px;
}

.banners-wrapper {
  display: flex;
}

.button {
  padding: 12px 32px;
  border-radius: 26px;
  border: 4px solid;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.banner-button {
  background: #FCFCFC;
  border-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #2D3440;
}

.banner-button:hover,
.banner-button:active {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
}

.banner-button:focus {
  border: 2px solid #2D3440;
}

.banner-button:disabled {
  background: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.first-display .ice-cream-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.ice-cream-list .main-item {
  display: flex;
}

.photo-slider {
  text-decoration: none;
  display: block;
  border: 2px solid #FCFCFC;
  width: 38px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.banners h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.banners h3 {
  font-size: 24px;
  line-height: 30px;
}

.banner {
  background-color: #FF7799;
  width: 570px;
}

.banner:nth-child(2n) {
  margin-left: auto;
}

.slider-pagination {
  list-style: none;
  width: 52px;
  display: flex;
  justify-content: space-between;
}

.slider-pagination-button {
  display: block;
  background-color: #FCFCFC;
  border-radius: 50%;
  opacity: 0.3;
  width: 12px;
  height: 12px;
}

.slider-pagination-button:hover {
  width: 10px;
  height: 10px;
  border: 1px solid #FCFCFC;
}

.slider-pagination-button:focus {
  border: 1px solid #2D3440;
}

.slider-pagination-button-current {
  opacity: 1;
}

.social-media {
  list-style: none;
  width: 104px;
  display: flex;
  justify-content: space-between;
  margin: auto auto auto 0;
}

.goods h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.cart-button {
  color: #FCFCFC;
  background-color: #FF2F64;
}

.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.card {
  background-color: #FCFCFC;
  width: 270px;
}
.product-card-link {
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.product-card-link h3{
  font-size: 20px;
}

.item-price {
  font-size: 20px;
  line-height: 24px;
}

.seo {
  background-image: url("/images/background-waffle.png");
  background-repeat: repeat;
  padding: 24px;
  margin-top: 80px;
}

.seo-inner-wrapper {
  background-color: #FCFCFC;
}

.seo h1 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.news-subscription-wrapper {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.news {
  background-image: url("/images/background-sorbet.jpg");
  background-repeat: no-repeat;
  width: 570px;
  padding-left: 32px;
  padding-right: 235px;
}

.news h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.news a {
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 30px;
  color: inherit;
}

.subscription {
  background-image: url("/images/background-post.jpg");
  background-repeat: no-repeat;
  width: 570px;
}

.subscription-wrapper {
  background-color: #FCFCFC;
  width: 558px;
}

.delivery {
  background-image: url("/images/background-delivery.jpg");
  background-repeat: no-repeat;
  margin-top: 76px;
  padding: 63px;
}

.delivery h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.customer-information {
  background-color: #FCFCFC;
  width: 500px;
}

.feedback {
  margin-top: 80px;
  padding: 63px;
  background-image: url("/images/background-feedback.jpg");
  background-repeat: no-repeat;
}

.feedback-wrapper {
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  width: 343px;
}

.feedback .contact-phone {
  color: #2D3440;
}

.feedback .clarification {
  font-size: 14px;
  line-height: 20px;
}

.contacts p {
  font-style: normal;
  margin: 0;
}

.contacts a {
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.pagination-wrapper {
  display:flex;
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

.pagination-show-more {
  background-color: #FCFCFC;
  color: inherit;
  width: 179px;
  padding: 12px 32px;
  margin-left: 494px;
}

.pagination-item a {
  display: block;
  width: 24px;
  border-radius: 50%;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
}

.pagination-current {
  background-color: #FCFCFC;
}

.main-footer {
  margin: auto;
  display: flex;
  width: 1170px;
}

.main-footer ul {
  padding: 0;
}

.footer-menu {
  list-style: none;
  width: 356px;
  margin-right: 200px;
  margin-left: auto;
}

.footer-menu a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footer-important-item a {
  font-weight: 700;
}

.made-by {
  font-size: 12px;
  line-height: 16px;
  width: 193px;
  margin: auto 0;
}

.made-by p {
  margin: 0;
}

.academy-footer-link {
  color: inherit;
}

.breadcrumbs {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 250px;
}

.breadcrumbs .breadcrumbs-link {
  color: inherit;
}

.catalog-filter-group {
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
